<p id="notice"><%= notice %></p>

<div class="row" style="text-align: center">
  <div class="columns small-2 large-4">
    <p>
    <%= link_to "#{@comparison.comparer.name}", scan_path(@comparison.comparer_id), class: "button expand" %>
    </p>
    <% @comparison.find_unique_domains[:unique_comparer].each do |r| %>
      <%= r %><br>
    <% end %>
  </div>

  <div class="columns small-2 large-4">
    <p>
    <%= link_to "#{@comparison.compared.name}", scan_path(@comparison.compared_id), class: "button expand" %>
    </p>
    <% @comparison.find_unique_domains[:unique_compared].each do |r| %>
      <%= r %><br>
    <% end %>
  </div>  
</div>

<div class="row" style="text-align: center">
  <div class="columns small-4 small-centered">
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">Common</a>
    <div id="panel1a" class="content active">
    <% @comparison.find_common_domains.each do |r| %>
      <%= r %><br>
    <% end %>
    </div>
  </li>
</ul>
</div>
</div>

<p>
  Link for sharing this comparison: <%= link_to request.original_url %>
</p>
