<p id="notice"><%= notice %></p>

<div class="row">
  <div class="columns small-2 large-6">
    <p>
    <%= link_to "#{@comparison.comparer.name}", scan_path(@comparison.comparer_id), class: "button expand" %>
    </p>
    <% @comparison.find_unique_domains[:unique_comparer].each do |r| %>
      <%= r %><br>
    <% end %>
  </div>
  <div class="columns small-2 large-6">
    <p>
    <%= link_to "#{@comparison.compared.name}", scan_path(@comparison.compared_id), class: "button expand" %>
    </p>
    <% @comparison.find_unique_domains[:unique_compared].each do |r| %>
      <%= r %><br>
    <% end %>
  </div>
</div>

<hr>

<ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item " data-accordion-item>
    <a href="#" class="accordion-title">Common Subdomains:</a>
    <div class="accordion-content" data-tab-content>
      <% @comparison.find_common_domains.each do |r| %>
        <%= r %><br>
      <% end %>
    </div>
  </li>
</ul>


<div class="row">
  <div class="columns small-6 large-4 large-centered">
    <p class="button small extend">
      Common Subdomains:
    </p>
    <% @comparison.find_common_domains.each do |r| %>
      <%= r %><br>
    <% end %>
  </div>  
</div>

<p>
  Link for sharing this comparison: <%= link_to request.original_url %>
</p>
