<p id="notice"><%= notice %></p>

<p>
  Link for sharing this comparison: <%= link_to request.original_url %>
</p>
<%= link_to 'Scan 1', scan_path(@comparison.comparer_id) %> |
<%= link_to 'Scan 2', scan_path(@comparison.compared_id) %>

<p>
  Scan 1
</p>
<% @comparison.find_unique_domains[:unique_comparer].each do |r| %>
  <%= r %>
<% end %>


<p>
  Scan 2
</p>
<% @comparison.find_unique_domains[:unique_compared].each do |r| %>
  <%= r %>
<% end %>

<p>
  Common Subdomains:
</p>
  <% @comparison.find_common_domains.each do |r| %>
    <%= r %><br>
  <% end %>
