<%= form_with(model: @comparison, local: true) do |form| %>
  <% if @comparison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comparison.errors.count, "error") %> prohibited this comparison from being generated:</h2>


    </div>
  <% end %>

  <div class="field">
    <h5>
      Compare to another scan of this domain:
    </h5>
    <% if Scan.where(name: @scan.name).where.not(id: @scan.id).present? %>
      <%= form.collection_select(:compared_id, Scan.where(name: @scan.name).where.not(id: @scan.id), :id, :name_and_created_at, prompt: true) %>
    <% else %>
      <%= form.collection_select(:compared_id, Scan.none(), :id, :name_and_created_at, { prompt: 'There are no other scans of this domain...maybe make a new one?' }, { :disabled => 'disabled' } ) %>
    <% end %>
  </div>

  <%= form.hidden_field :comparer_id, :value => @scan.id.to_s %>

  <div class="actions">
    <%= form.submit "Compare!", class: 'button tiny' %>
  </div>

<% end %>