<%= form_with(model: scan, local: true) do |form| %>
  <% if scan.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(scan.errors.count, "error") %> prohibited this scan from being saved:</h4>

      <ul>
      <% scan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <%= form.label "Domain" %>
  <%= form.text_field :name %>
  </div>

  <%= form.label "Brute?" %>
  <div class="switch">
    <input name="scan[brute]" type="hidden" value="off">
    <input id="brute" name="scan[brute]" type="checkbox">
    <%= label_tag :brute %>
  </div>

  <div class="field row">
    <div class="columns small-centered small-4">
      <%= form.label :threads %>
      <%= form.select(:threads, [16, 32, 48, 64]) %>
    </div>
  </div>

  <div class="field row">
    <div class="columns small-centered small-4">
      <%= form.label :phone_number %>
      <%= form.phone_field :phone_number %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Scan!", class: 'button round small' %>
  </div>
<% end %>
