<p id="notice"><%= notice %></p>
<div style="text-align: center;">
  <h1>Scans</h1>
    <%= search_form_for @q do |f| %>
      <%= f.label "Search for previous scans with a specific subdomain..." %>
      <%= f.search_field :subdomain_records_name_cont %>
      <%= f.submit "Search", class: 'button small round' %>
    <% end %>
  <br>
  <% if @results.empty? %>
  <% else %>
    <table>
      <thead>
        <tr>
          <th><%= sort_link(@q, :name) %></th>
          <th><%= sort_link(@q, :created_at, "Created On") %></th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <tr>
            <td><%= result.name %></td>
            <td><%= result.created_at.strftime("%B %d, %Y") %></td>
            <td><%= link_to 'Show', scan_path(result) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <br>
  <%= link_to '...or Generate a New Scan', new_scan_path, :class => 'button expand' %>

  <ul class="custom accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#all-scans">Show All Scans</a>
      <div id="all-scans" class="content" style="background-color: #eee;">
        <table style="margin: 0 auto;">
          <thead>
            <tr>
              <th>Domain</th>
              <th>Date of Scan</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <% @scans.each do |s| %>
              <tr>
                <td><%= s.name %></td>
                <td><%= s.created_at.strftime("%B %d, %Y") %></td>
                <td><%= link_to 'Show', scan_path(s) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>