<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scan.name %>
</p>

<p>
  Found Subdomains: <%= @scan.subdomain_records.length %><hr>
  <% @subdomain_records.each do |r| %>
    <%= r.name %><br>
  <% end %>
</p>

<%= will_paginate @subdomain_records %>
<%= link_to 'Export', scan_path(@scan, format: :csv), class: "button tiny" %>
<%= render 'comparison_form' %>
<%= link_to 'Edit', edit_scan_path(@scan) %> |
<%= link_to 'Back', scans_path %>
